.zenethwp-bg-default {
  background-color: #222;
}
.site-branding {
  .site-title {
    color: #fff;
    a {
      color: #fff;
      &:hover {
        color: #dc3545;
        text-decoration: none;
      }
    }
  }
  .site-description {
    font-size: 17px;
    font-weight: 300;
    color: #fff;
  }
}
.site-content {
  margin-top: 30px;
}
