.widget-container {
  padding: 30px;
  background-color: #fff;
}
.widget {
  .widget-title {
    font-size: 30px;
  }
  ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    li {
      position: relative;
      display: block;
      padding: .75rem 3px;
      margin-bottom: -1px;
      background-color: #fff;
      border: none;
      a {
        color: #222;
        &:hover,
        &:active,
        &:visited {
          color: #dc3545;
          text-decoration: none;
        }
      }
    }
  }
}
